:root {
  --header-color: #212121;
  --title-color: #212121;
  --text-color: #757575;
  --footer-first-color: #ffffff;
  --footer-second-color: rgba(255, 255, 255, 0.6);
  --btn-color: #212121;
  --accent-color: #2196f3;
  --banner-color: #ffffff;
  --icon-fill-color: #757575;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
